<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>PETITION |</title>
</head>
<body>
    <header>
    <h3>I'M MAIN LAYOUT</h3>
    <a href="/profile/edit">PROFILE</a>
    </header>

    <main>
        {{!-- This is where the content generated in my templates should be injected :D!! --}}
    {{!-- body is a placeholder for whatever html we inject from out templates, we can ONLY inject one template at a
    time --}}
    {{{body}}}
    </main>


    <footer>♦ Spiced Education, © 2021 ♦ <a href="http://www.nicogdesign.com/">www.nicogdesign.com</a></footer>
    
    
    
</body>
</html>