<h1>PETITION IS HERE!!!</h1>

<form action="?">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" value="Giuseppe">
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" value="Verdi">
    <canvas></canvas>
    <input type="submit" id="submit" value="Submit">
</form>