<h1>PETITION IS HERE!!!</h1>

<form method="post">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" value="Giuseppe">
    <br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" value="Verdi">
    <br>
    <input type="hidden" id="signature" name="signature">
    <canvas height="100" width="200" ></canvas>
    <br>
    <input type="submit" id="submit" value="Submit">
</form>

