<div class="box">
    <h1>CREATE AN ACCOUNT</h1>
</div>

{{#if err}}
<br>
{{> error}}
<br>
{{/if}}
<div class="userInfos">
    <form method="post">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" placeholder="Giuseppe">
        <br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname" placeholder="Verdi">
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="example@hello.org">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="">



        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <br>
        <input type="submit" id="submit" value="Sign up">
    </form>
</div>
<p class="p2">Do you have an account already? <a href="/login">LOG IN</a></p>