* {
    box-sizing: border-box;
    margin: 0;
}

/*GENERAL*/

body {
    background-color: rgb(56, 56, 56);
    color: rgb(95, 255, 80);
    font-family: "Averia Serif Libre";
    overflow-x: hidden;
}

#BG {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;

    background: url("https://images.pexels.com/photos/4430916/pexels-photo-4430916.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    opacity: 75%;

    z-index: -100;
}

/* width */
::-webkit-scrollbar {
    width: 13px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(14, 14, 14);
    border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(56, 56, 56);
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::selection {
    background: lightgreen;
    color: white;
}

header,
main,
footer {
    width: 100%;
    padding: 5px 30px;
}

main {
    padding: 95px 30px;
}

header,
footer {
    background: rgb(14, 14, 14);
    box-shadow: 0px 0px 15px #000000b4;
    position: fixed;
}

header {
    margin-bottom: 50px;
    z-index: 5;
}

footer {
    margin-top: 50px;
    bottom: 0;
    /* clear: both; */
}
h1,
h2,
h3 {
    font-family: "Viga";
}

h1 {
    margin-bottom: 5px;
}
h2 {
    margin-bottom: 10px;
}

p {
    color: white;
}

.p2 {
    color: rgb(95, 255, 80);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

a:hover {
    color: fuchsia;
    transition: 0.15s ease-in;
}

button,
#submit,
#submitNoMargin {
    width: 180px;
    color: rgb(14, 14, 14);
    background: rgb(95, 255, 80);
    border: 2px solid rgb(95, 255, 80);
    border-radius: 20pt;
    padding: 5px 8px;
    line-height: 18px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0px 5px 10px #00000048;
}

button:hover,
#submit:hover,
#submitNoMargin:hover {
    color: rgb(95, 255, 80);
    background: transparent;
    border: 2px solid rgb(95, 255, 80);
    transition: 0.15s ease-in;
}

/* DIVS */

canvas {
    height: 100px;
    width: 400px;
    /* background: rgb(24, 24, 24); */
    border: 1px solid rgb(95, 255, 80);
}

.box {
    margin-bottom: 25px;
}

.midBox {
    margin: 90px 0;
}

div.midBox > h3 {
    margin-bottom: 15px;
}

.largeText {
    max-width: 400px;
    margin-top: 20px;
    font-style: italic;
}

.userInfos {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 35px;
}

.tableHead {
    margin-top: 20px;
    margin-bottom: 45px;
}
.table {
    margin-bottom: 10px;
}
.tableHead,
.table {
    width: 100%;
    height: 20px;
    display: inline-grid;
    grid-template-columns: 240px 1fr 1fr 240px;
    text-align: center;
}
.tableHead > h3 {
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}

.table > span {
    margin-bottom: 20px;
}

/* ELEMENTS */

#logoutBtn {
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 25;
}

#logoutBtnStyle {
    width: auto;
}

form {
    max-width: 380px;
}

label[for="fname"],
label[for="lname"],
label[for="email"],
label[for="age"],
label[for="password"],
label[for="city"],
label[for="url"] {
    line-height: 25px;
}

#fname,
#lname,
#email,
#password,
#age,
#city,
#url {
    width: 200px;
    float: right;
}

#submit {
    margin: 35px 10px 0 0;
}

#submitNoMargin {
    margin: 0;
}

.longText {
    text-overflow: ellipsis;
    max-width: 240px;
    overflow: hidden;
    color: white;
}
